body {
    color: aqua;
}

.divCoins {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.divCheese {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.divUpgradeButtons {
    display: flex;
    flex-direction: column;
}

    .divUpgradeButtons > div {
        margin-bottom: 10px; /* Espaço entre os botões */
    }