.div-balance {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.div-cheese {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.div-upgrades {
    display: flex;
    flex-direction: column;
}

    .div-upgrades > div {
        margin-bottom: 10px;
    }